__pycache__/
qr/
venv/

/*.csv
/*.json
!devbox.json
!example_output.json
!example_output.csv
!.github/
!.flake8
!.vscode/
!.devcontainer/
!.devcontainer/*.json
*.whl
build/
dist/
extract_otp_secret_keys.egg-info/
*.xml
pytest-coverage.txt
tests/reports/
