__pycache__/
qr/
venv/

/*.csv
/*.json
!devbox.json
!example_output.json
!example_output.csv
!.github/
!.flake8
!.vscode/
!.devcontainer/
!.devcontainer/*.json
*.whl
build/
dist/
*.egg-info/
*.xml
pytest-coverage.txt
tests/reports/
dist_*/
*.spec

file_version_info_python.txt
file_version_info_explorer.txt
file_version_info.txt
assets/*
