* text eol=auto
*.7z binary
*.bat text eol=crlf
*.cmd text eol=crlf
*.csv text eol=lf
*.dll binary
*.exe binary
*.gif binary
*.gz binary
*.ico binary
*.jpeg binary
*.jpg binary
*.md text eol=auto
*.pdf binary
*.png binary
*.ps1 text eol=crlf
*.sh text eol=lf
*.tar binary
*.tif binary
*.ttf binary
*.txt text eol=auto
*.webp binary
*.woff binary
*.woff2 binary
*.zip binary
