__pycache__/
qr/
venv/

/*.csv
/*.json
!devbox.json
!example_output.json
!example_output.csv
!.github/
!.flake8
!.vscode/
!.devcontainer/
!.devcontainer/*.json
*.whl
build/
dist/
*.egg-info/
*.xml
pytest-coverage.txt
tests/reports/
dist_*/

file_version_info_python.txt
file_version_info_explorer.txt
file_version_info.txt
assets/*
extract_otp_secrets_linux_arm64.spec
extract_otp_secrets_linux_x86_64_bullseye.spec
extract_otp_secrets_linux_x86_64_bookworm.spec
extract_otp_secrets_linux_x86_64.spec
extract_otp_secrets.spec
test.txt
extract_otp_secrets.build/
extract_otp_secrets.dist/
extract_otp_secrets.onefile-build/
extract_otp_secrets.bin
