[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
protobuf = "*"
qrcode = "*"
pillow = "*"

[dev-packages]
pytest = "*"
wheel = "*"
flake8 = "*"
pylint = "*"

[requires]
python_version = "3.11"
